<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>

<div >
    <form class="pure-form"  th:action="@{/notes/addnote/add}" method="get" >
        <fieldset class="pure-group" >
            Title:  <textarea class="pure-input-1" name="title" th:text="${note.getTitle()}" ></textarea>
            Content:  <textarea class="pure-input-1" name="content" th:text="${note.getContent()}" ></textarea>
            <button type="submit" class="pure-button pure-input-1-5 pure-button-primary">Add</button>
            <br><br>
            <a class="pure-button pure-button-active" href="/notes">Back to Main</a>
            <br><br><br>
        </fieldset>

    </form>

    <br>

</div>


</body>
</html>